@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 245 58% 51%;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", sans-serif;
  color: #111827;
  background-color: #f8fafc;
}
